@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  src: url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --fontfamily: 'Pretendard-Regular';
}
body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ProseMirror {
  padding: 10px;
  background: transparent;
  border-radius: 0 0 5px 5px;
  width: 100%;
  /* min-width: 990px; */
  min-height: 480px;
}

.ProseMirror ul {
  padding: 0 1rem;
  list-style: disc !important;
}
.ProseMirror ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

.ProseMirror h1 {
  font-size: 2.125rem;
  line-height: 1.2;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  line-height: 1.1;
}

.ProseMirror h3 {
  font-size: 1.25rem;
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* 글 상세 페이지의 파싱한 글, 리셋 css 적용하기 */
@layer components {
  .custom-reset {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    blockquote,
    pre,
    code,
    img,
    table,
    strong,
    em,
    u,
    s {
      all: initial;
      display: block;
      font-family: 'Pretendard-Regular';
    }

    li {
      font-size: 18px;
      display: list-item;
    }

    strong {
      font-size: 18px;
      font-weight: bold; /* 굵은 글씨 */
    }

    em {
      font-size: 18px;
      font-style: italic; /* 기울임 글씨 */
    }

    u {
      font-size: 18px;
      text-decoration: underline; /* 밑줄 */
    }

    s {
      font-size: 18px;
      text-decoration: line-through; /* 취소선 */
    }

    h1 {
      font-size: 2em; /* Tailwind text-2xl 크기 */
      font-weight: bold; /* Tailwind font-bold */
      color: inherit;
    }

    h2 {
      font-size: 1.5em; /* Tailwind text-xl 크기 */
      font-weight: bold; /* Tailwind font-bold */
      color: inherit;
    }

    h3 {
      font-size: 1.25em; /* Tailwind text-lg 크기 */
      font-weight: bold; /* Tailwind font-bold */
      color: inherit;
    }

    h4 {
      font-size: 1.1em; /* Tailwind text-base 크기 */
      font-weight: bold; /* Tailwind font-bold */
      color: inherit;
    }

    h5 {
      font-size: 1em; /* Tailwind text-sm 크기 */
      font-weight: bold; /* Tailwind font-bold */
      color: inherit;
    }

    h6 {
      font-size: 0.875em; /* Tailwind text-xs 크기 */
      font-weight: bold; /* Tailwind font-bold */
      color: inherit;
    }

    p {
      font-size: 18px; /* Tailwind text-base 크기 */
      line-height: 1.5; /* Tailwind leading-relaxed */
      color: inherit;
    }

    ul,
    ol {
      padding-left: 1.5rem; /* Tailwind pl-6 */
      margin: 0; /* 기본 마진 제거 */
      list-style-position: outside; /* 리스트 아이템의 위치 설정 */
    }

    li {
      height: 30px;
      /* margin-bottom: 0.5rem; Tailwind mb-2 */
      list-style-type: decimal; /* 기본 목록 스타일 설정 */
    }

    blockquote {
      padding-left: 0.5rem; /* 패딩 */
      padding-right: 0.5rem; /* 패딩 */
      border-left: 4px solid gray; /* 왼쪽 테두리 */
      margin: 0; /* 기본 마진 제거 */
    }

    pre {
      background-color: #f5f5f5; /* 배경색 */
      padding: 1rem; /* 패딩 */
      overflow-x: auto; /* 가로 스크롤 */
    }

    code {
      background-color: #f5f5f5; /* 배경색 */
      padding: 0.2rem 0.4rem; /* 패딩 */
      border-radius: 4px; /* 둥근 모서리 */
    }

    img {
      display: inline-block; /* 이미지 블록 디스플레이 */
      max-width: 100%; /* 최대 너비 100% */
    }

    table {
      width: 100%; /* 테이블 너비 100% */
      border-collapse: collapse; /* 테두리 겹치지 않게 */
    }

    th,
    td {
      border: 1px solid black; /* 테두리 스타일 */
      padding: 0.5rem; /* 패딩 */
    }
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
