@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  src: url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --fontfamily: 'Pretendard-Regular';
}
body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ProseMirror {
  padding: 10px;
  background: transparent;
  border-radius: 0 0 5px 5px;
  width: 100%;
  /* min-width: 990px; */
  min-height: 480px;
}

.ProseMirror ul {
  padding: 0 1rem;
  list-style: disc !important;
}
.ProseMirror ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

.ProseMirror h1 {
  font-size: 2.125rem;
  line-height: 1.2;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  line-height: 1.1;
}

.ProseMirror h3 {
  font-size: 1.25rem;
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.post-content h1 {
  /* 예시: Tailwind 클래스를 사용해 h1 태그 스타일 지정 */
  @apply text-2xl font-bold;
}
.post-content li {
  /* 예시: Tailwind 클래스를 사용해 li 태그 스타일 지정 */
  @apply list-decimal ml-4;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
